/* https://ifg.edu.br/attachments/article/19169/Inform%C3%A1tica%20b%C3%A1sica%20para%20o%20estudo%20on-line%20(19-12-2020).pdf */

:root {
  --primary-color: #f0f8ff; /* ALICE BLUE */
  --secondary-color: #ffffff;
  --tertiary-color: #000000;
  --quartenary-color: #010847;
  --page-content-margin: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  line-height: 1;
  background-color: var(--primary-color);
}

.course-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 50px;
}

.course-plan {
  flex: 1;
  max-width: 400px;
  padding: 20px;
  background-color: #b5d5ff;
  border: black solid 3px;
  border-radius: 5px;
  text-align: center;
  
}

.course-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#course-desc {
  margin-bottom: 20px;
}

.course-price {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.course-features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.course-features li {
  margin-bottom: 20px;
}

.course-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  border: none;
  text-decoration: none;
}

@media (max-width: 1250px) {
  .course-container {
    flex-direction: column;
    height: 100%;
  }
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
} 


#nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--quartenary-color);
  backdrop-filter: saturate(180%) blur(20px);
  padding: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

ul > li {
  list-style: none;
}

ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-style: italic;
}

#icon2 {
  width: 30px;
  height: auto;
}

.page-content {
  margin: var(--page-content-margin) auto;
  width: 45%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: var(--secondary-color);
}

.page-container {
  min-height: calc(100vh - 82px - var(--page-content-margin));
}

.page-title{
  margin: var(--page-content-margin) auto;
  width: 70%;
  padding: 15px;
  display: flex;
  font-size: 45px;
  color: var(--quartenary-color);
  text-align: center;
}

img{
  max-width: 400px;
}

@media (max-width: 1024px) {
  .page-content {
    width: 70%;
  }
  img{
    width: 40%;
  }
  #img-small{
    display: none;
  }
}

@media (max-width: 512px) {
  .page-content {
    width: 90%;
  }
  img{
    width: 60%;
  }
}

#contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-content {
  color: white;
  width: 350px;
  height: 250px;
  border: 2px solid black;
  background-color: var(--quartenary-color);
  border-radius: 10px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

#msgBtn {
  padding: 5px;
  background-color: var(--quartenary-color);
  color: white;
  border: 2px solid white;
}

.border10px {
  border-radius: 10px;
}

#textarea {
  height: 100%;
}

#nome {
  height: 100px;
}

#msgBtn:hover {
  background-color: white;
  color: var(--quartenary-color);
}
.footer {
  background-color: var(--quartenary-color);
  color: #fff;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}


.contact-info {
  margin-top: 10px;
}

.contact-info img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  vertical-align: middle;
}

.contact-info a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

#videos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#videos button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

#videos button:hover {
  background-color: #0056b3;
}

#video-player {
  display: none; 
}

#videos a {
  display: block;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

#videos a:hover {
  color: #0056b3;
}

#links  {
  color: var(--quartenary-color);
}

.parágrafo {
  margin: 20px;
  margin-top: 50px;
}
span {
  color: green;
}

.colorblue {
  color: blue;
}
.service-container{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.service-title{
  color: #0056b3;
}
.service-section {
  margin-top: 20px;
  opacity: 0;
  animation: fadeInAnimation 1s ease-in forwards;
}

.service-section:nth-child(2) {
  animation-delay: 1s;
}

.service-section:nth-child(3) {
  animation-delay: 2s;
}

.service-section:nth-child(4) {
  animation-delay: 3s;
}
.page-content {
  opacity: 0;
  animation: fadeInAnimation 1.5s ease-in forwards;
}

.page-content:nth-child(1) {
  animation-delay: 0.5s;
}

.page-content:nth-child(2) {
  animation-delay: 1s;
}

@keyframes fadeInAnimation {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeInAnimation {
  from { opacity: 0; }
  to { opacity: 1; }
}



