<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ComConquer</title>
    <link rel="icon" href="../../sources/ccicon.ico" />
    <link rel="stylesheet" href="../../stylesheet/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"/>
  </head>
  <body>
    <nav id="nav">
      <ul>
        <li>
          <a href="../index.html">
            <img
              id="icon2"
              src="../../sources/ccicon.ico"
              alt="icone da empresa 🤓"
            />
          </a>
        </li>
        <li><a href="../servicos.html">Serviços</a></li>
        <li><a href="../sobre.html">Sobre</a></li>
        <li><a href="../contato.html">Contato</a></li>
        <li><a href="../documentos.html">Documentos</a></li>
      </ul>
    </nav>

    <section class="page-container">
        <article class="page-content">
            <h1>O computador</h1>
            <p>Você já usou um computador, seja para trabalho, estudos ou mesmo para se distrair
              navegando na internet? Se a sua resposta é sim, te convido a conhecer um pouco
              mais sobre esta ferramenta tão importante no nosso dia a dia. Mas se a sua
              resposta é não, não se assuste pois esta apostila também é para você! Sente, leia
              com atenção, converse com os colegas, com o professor, aposto que ao final você
              também vai conhecer mais sobre essa tão importante ferramenta!
              Os computadores que usamos em casa ou no trabalho se dividem em dois tipos: os
              computadores de mesa, conhecidos também como desktops, e os notebooks,
              também chamados de laptops.
              </p>
            <h3>Os desktops se subdividem em dois tipos:</h3>
            <table>
                <tr>
                    <td><img id="img-small" src="../../sources/computador_tipo_torre.png" alt="computadortorreicon"></td>
                    <td><b>Computador do tipo torre</b><br>Ele possui o gabinete separado do monitor. O gabinete é
                        o espaço onde estão alojados os componentes
                        necessários para o funcionamento do computador:
                        memórias, placas, processador, cabos, dentre outros .</td>
                </tr>
            
            <table>
                <tr>
                    <td><img id="img-small" src="../../sources/notebook.png" alt="computadortorreicon"></td>
                    <td><b>Os notebooks</b><br>Os notebooks são computadores muito versáteis,
                        leves e podem ser transportados com facilidade. É
                        uma ótima opção para quem quer levar o
                        computador para escola ou mesmo para o trabalho.
                        Nele, o teclado, a tela (monitor) e os componentes
                        estão todos acoplados formando uma peça única.</td>
                </tr>
            
            <table>
                <tr>
                    <td><img id="img-small" src="../../sources/computador_all-in-one.png" alt="computadortorreicon"></td>
                    <td><b>Computador do tipo All in One (tudo em um)</b><br>A primeira vista este modelo de desktop parece um
                        monitor apenas, não é? Mas não se engane, ele possui o
                        gabinete, ou seja, memórias, placas, processador, cabos,
                        dentre outros componentes, todos acoplados na parte de
                        trás do monitor, o que torna o All in One um modelo de
                        desktop mais prático e fácil de acomodar.</td>
                </tr>
            </table>
            <h2>HARDWARE :</h2>
            <table>
                <tr>
                    <td><img id="img-small" src="../../sources/gabinete.png" alt="computadortorreicon"></td>
                    <td><b>Gabinete</b><br>O gabinete é o espaço onde estão alojados os componentes
                        necessários para o funcionamento do computador. Memórias,
                        placas, processador, cabos, dentre outros componentes compõem
                        o gabinete. Costumamos dizer que o gabinete é o próprio
                        computador.
                        </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><img id="img-small" src="../../sources/mouse.png" alt="computadortorreicon"></td>
                    <td><b>Mouse</b><br>É um dispositivo bastante simples, porém de muita importância.
                        Com o mouse o usuário manuseia o cursor (seta que aparece na tela
                        do computador) para selecionar os objetos desejados, abrir arquivos
                        (com duplo clique), copiar e colar textos, selecionar pastas, figuras,
                        imagens, etc. O mouse é composto normalmente por 2 botões: um
                        esquerdo e um direito e, ao meio, uma rodinha (scroll). Mas qual a
                        função deles?</td>
                </tr>
            </table>
            <h3>Teclado</h3>
            <p>É o periférico em que se encontram os principais comandos para operar um
                computador. É pelo teclado que os textos são digitados. Ele está dividido em cinco
                partes:</p>
            <p> <b>A) Teclado alfanumérico:</b> com letras e números como em uma máquina de
                escrever;<br>
                <b>B) Teclado numérico:</b> como em uma calculadora. <br>
                <b>C) Teclas de controle:</b> são teclas que (F1, Home, Alt e Shift, Insert, Delete, Page
                Up, Page Down, por exemplo), usadas isoladamente ou em conjunto com outras,
                executam funções específicas. <br>
                <b>D) Teclas de direção:</b> essas teclas possuem setas indicando o sentido de direção
                do cursor. <br>
                <b>E) Teclas de função:</b> realizam funções específicas, que mudam de acordo com o
                programa ou sistema operacional utilizado. Elas também podem ser ativadas em
                conjunto com outras teclas.
                </p>
            <h3>Função das principais teclas no teclado</h3>
            <table>
                <tr>
                    <td><img id="img-small" src="../../sources/enter.png" alt="tecla enter"></td>
                    <td>A tecla Enter é utilizada para iniciar parágrafo, quebrar uma
                        linha no texto ou efetuar confirmações.
                        </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><img id="img-small" src="../../sources/shift.png" alt="tecla shift"></td>
                    <td>A tecla Shift é utilizada para iniciar caracteres especiais ou
                        ativar momentaneamente as teclas maiúsculas do teclado
                        (mantendo a tecla Shift pressionada).</td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><img id="img-small" src="../../sources/tab.png" alt="tecla tab"></td>
                    <td>Tab é usada na edição de textos. Serve como marcador de
                        parágrafos. Ela é útil também quando precisamos movimentar o
                        cursor de um campo a outro, ou seja, para preencher cadastros,
                        entrar no e-mail, etc.
                </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><img id="img-small" src="../../sources/backspace.png" alt="tecla backspace"></td>
                    <td>Chamada de Backspace, essa tecla serve para retroceder o
                        cursor, apagando os caracteres à esquerda do cursor.
                        </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><img id="img-small" src="../../sources/capslock.png" alt="tecla capslock"></td>
                    <td>A tecla Caps Lock ativa/desativa as letras maiúsculas do
                        teclado.
                        </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><img id="img-small" src="../../sources/printscreen.png" alt="tecla printscreen"></td>
                    <td>A Print Screen é utilizada para capturar imagens que são
                        exibidas na tela do computador.
                        </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><img id="img-small" src="../../sources/ctrl.png" alt="tecla ctrl"></td>
                    <td>A tecla Control tem utilidade principalmente quando usada em
                        conjunto com outras teclas, nos chamados “atalhos do
                        teclado.</td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><img id="img-small" src="../../sources/alt.png" alt="tecla alt"></td>
                    <td>A Alt é uma tecla de controle alternativo. Libera o uso do menu
                        para trabalhar com o teclado e também pode ser combinada
                        com outras teclas para executar funções.
                        </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><img id="img-small" src="../../sources/esc.png" alt="tecla esc"></td>
                    <td>A tecla Esc ou escape é usada para abandonar uma tela,
                        programa ou menu.
                        </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><img id="img-small" src="../../sources/delete.png" alt="tecla delete"></td>
                    <td>A Delete ou Del apaga um caractere à direita do cursor. No
                        Windows, deleta arquivos ou pastas.
                        </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><img id="img-small" src="../../sources/monitor.png" alt="imagem de um monitor"></td>
                    <td><b>Monitor</b> <br>
                        O monitor é outro periférico bastante importante, pois é
                        através dele que vemos as imagens que são projetadas
                        pelo computador. Atualmente, muitas TVs vêm com função
                        de monitor, portanto, possuem saídas específicas para
                        ligar à CPU e assim projetar a imagem.
                        Como as TVs, quanto melhor a resolução do monitor, melhor será a visualização da
                        imagem projetada.
                        </td>
                </tr>
            </table>
            <table>
                <br>
                <tr>
                    <td><img id="img-small" src="../../sources/webcam.png" alt="imagem de uma webcam"></td>
                    <td><b>Webcam</b> <br>
                        Anteriormente considerada apenas um acessório para os
                        computadores, a webcam se tornou essencial para as
                        gravações de videoaulas e participação nas aulas on-line.
                        Com uma webcam, utilizando aplicativos de
                        webconferência como Google Meet e Microsoft Teams, por
                        exemplo, você pode aparecer em vídeo durante a aula online.
                        </td>
                </tr>
            </table>
            <h3>Como periférico, a webcam pode estar vinculada ao computador ou notebook de 2
                formas:</h3>
            <table>
                <tr>
                    <td><img id="img-small" src="../../sources/webcam-acoplada.png" alt="webcam acoplada"></td>
                    <td>Acoplada ao computador, como normalmente já
                        vem nos notebooks e desktops do tipo All in one.</td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><img id="img-small" src="../../sources/perifericos_usb.png" alt="perifericos usb"></td>
                    <td>Individual, conectada ao computador por meio de
                        um cabo do tipo <b>USB</b>.
                        </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><img id="img-small" src="../../sources/multimidia.png" alt="multimidia"></td>
                    <td><b>Kit Multimídia</b> <br>
                        Assim como a webcam, o kit multimídia é um periférico do
                        computador que se tornou bastante utilizado pelos usuários nos
                        últimos anos. Com função de recepção e transmissão de voz e
                        áudio, os kits têm se tornado cada vez menores, porém mais
                        robustos quanto à qualidade de captação.
                        </td>
                </tr>
            </table>
            <h2>Conexões e portas dos principais periféricos</h2>
            <p>Agora que conhecemos alguns dos principais periféricos de um computador, vamos
                aprender como eles podem ser ligados ao computador
            </p>
            <table style="width: 100px;" border="1">
                <tr>
                    <td><b>PERIFÉRICO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </b></td>
                    <td><b>TIPO DE CONEXÃO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </b></td>
                    <td><b>IMAGEM</b></td> 
                </tr>
            
                <tr>
                    <td > <ul><li>Mouse</li></ul><ul><li>Teclado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li></ul></td>
                    <td><b>PS/2:</b> pouco usado atualmente&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td ><img src="../../sources/ps-2.webp" alt="imagem-ps2" width="130px" ></td>
                </tr>
            
                <tr>
                    <td > <ul><li>Mouse</li></ul><ul><li>Teclado</li></ul><ul><li>Webcam</li></ul><ul><li>Caixa de som</li></ul><ul><li>Pendrive&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li></ul></td>
                    <td><b>USB:</b> muito usado atualmente</td>
                    <td><img src="https://static3.tcdn.com.br/img/img_prod/475237/cabo_usb_2_0_macho_x_macho_1_80mts_s_2266_1_20160725211244.jpg" alt="imagem-usb" width="130px" ></td>
                </tr>
            
                <tr>
                    <td > <ul><li>Monitor</li></ul><ul><li>Retroprojetor&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li></ul></td>
                    <td><b>VGA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
                    <td><img src="https://th.bing.com/th/id/R.d05d5d08268260392e1a7591a560dcd6?rik=RqLxVr4gJnMpCQ&riu=http%3a%2f%2fupload.wikimedia.org%2fwikipedia%2fcommons%2f8%2f81%2fVga-cable.jpg&ehk=x7Jba7nRBNJN7LvIShtu%2fiGtZdPrMjXS8NnT7TlgIoM%3d&risl=&pid=ImgRaw&r=0" alt="imagem-usb" width="130px" ></td>
                </tr>
            
                <tr>
                    <td > <ul><li>Monitor</li></ul><ul><li>Retroprojetor&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li></ul></td>
                    <td><b>HDMI:</b> conecta monitores e <br> retroprojetores mais modernos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td><img src="https://geek360.com.br/wp-content/uploads/2020/08/Melhores-Cabos-HDMI-4K.jpg" alt="imagem-hdmi" width="130px" ></td>
                </tr>
            
                <tr>
                    <td ><ul><li>Monitor</li></ul><ul><li>Gabinete(fonte)&nbsp;&nbsp;&nbsp;&nbsp;</li></ul></td>
                    <td><b>FONTE DE ALIMENTAÇÃO</b></td>
                    <td><img src="https://th.bing.com/th/id/R.09fce74fcffafab4dbdbcc5a4f34a7d0?rik=HIwYIIlTa0JbWg&pid=ImgRaw&r=0" alt="imagem-fonte-de-alimentação" width="130px" ></td>
                </tr>
            
                <tr>
                    <td > <ul><li>Placa de rede</li></ul><ul><li>Modem</li></ul><ul><li>Impressora&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li></ul></td>
                    <td><b>RJ-45&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
                    <td><img src="https://th.bing.com/th/id/OIP.oB_SfKp6QmVgwT4Biywt5wHaHB?w=605&h=574&rs=1&pid=ImgDetMain" alt="imagem-rj-45" width="130px" ></td>
                </tr>
            
            
                <tr>
                    <td > <ul><li>Microfone</li></ul><ul><li>Fone de ouvido</li></ul><ul><li>Caixa de som&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li></ul></td>
                    <td><b>ENTRADA E SAÍDA P2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
                    <td><img src="https://th.bing.com/th/id/OIP.-fVAfxyEj4vZPvVmhCNaWAHaHa?rs=1&pid=ImgDetMain" alt="imagem-p2" width="130px" ></td>
                </tr>
            </table> <br>
          
          
            <h2>Software</h2>
          
            <p>Os softwares são essenciais para o funcionamento dos computadores, pois é a
                partir deles que são feitas operações e comandos que são interpretados para
                depois serem executados. O principal software de um computador é o sistema
                operacional. É a partir dele que as instruções de inicialização dos periféricos são
                comandados.
            </p>
            <table>
                <tr>
                    <td><img src="../../sources/windwos.png" alt="imagem" width="300px" >
                    </td>
                </tr>
                <tr>
                    <td> Além disso, o sistema operacional é a
                    base para que outros softwares
                    (programas) sejam executados no
                    computador. <br> Conheça os principais
                    sistemas operacionais disponíveis
                    atualmente: <br>
                    Mas o que significa dizer que um
                    sistema é código aberto ou fechado?
                    Pago ou gratuito? <br>
                    Todo o sistema (software) é
                    desenvolvido através de uma enorme
                    sequência de instruções de
                </tr>
                    <td>
                    computador, a qual denominamos
                    código fonte. <br> Ter um sistema de
                    código fonte aberto significa dizer
                    que é possível <br> realizar modificações
                    no produto sem a necessidade de
                    pagar uma licença comercial. <br> Essa é
                    justamente a explicação para alguns
                    softwares serem considerados
                    pagos ou gratuitos.
                    </td>
                <tr>
                    <td><img src="../../sources/macos.png" alt="imagem" width="300px" >
                    </td>
                </tr>
                <tr>
                    <td><img src="../../sources/linux.png" alt="imagem" width="300px" >
                    </td>
                </tr>
            </table>
            
            <p>Um sistema operacional gratuito e de código aberto, é construído pela comunidade
                por meio de um modelo colaborativo de produção intelectual. Nesse modelo, a
                construção do software não é feita por uma empresa, mas sim por uma comunidade
                de pessoas ao redor do mundo. A construção coletiva e colaborativa é a base dos
                sistemas operacionais abertos e gratuitos.
            </p>

            <p>Agora que já vimos o que são os softwares e os sistemas operacionais, vamos
                conhecer as principais ferramentas e programas (softwares) que podem ser usados
                no dia a dia.
            </p>

            <h3>Pacotes Office</h3>
            <p>
                Os Pacotes Office são um
                conjunto de ferramentas
                imprescindíveis para os usuários
                de computadores de forma
                geral.
                É com eles que se elabora, edita,
                cria, exporta ou importa os mais
                variados textos, planilhas e
                apresentações de slides.
                Atualmente encontramos vários
                pacotes Office, sendo os
                principais: 
            </p>

            <div style="display: flex; flex-direction: column;" class="imagem">
                <img src="../../sources/img100.jpeg" alt="img100" class="img100">
                <img src="../../sources/img101.jpeg" alt="img101" class="img101">
                <img src="../../sources/img102.jpeg" alt="img102" class="img102">
            </div>
                
            <p>
                O Microsoft Word é a principal ferramenta usada pelos usuários dentre as
                disponibilizadas pelo pacote, pois através dele é possível criar textos, trabalhos
                escolares, relatórios, cartas, ofícios, currículos, entre outros e formatá-los para
                posteriormente fazer a impressão, se for o caso.
            </p>

            <h3>Programas básicos</h3>
            <p>Todo computador, seja em casa ou no trabalho, deve ter instalado alguns softwares
                que são indispensáveis no dia a dia. Citaremos aqui os principais!</p>

            <img src="../../sources/imgpdf.jpeg" alt="pdf">

            <p>1) Leitor de PDF: abre e executa arquivos com extensões .pdf, como:
                Adobe Reader, Foxit, Sumatra, Pdf Xchange, entre outros.</p>

            <p>2) Compactador/descompactador de arquivos: juntam vários
                arquivos alocando em um único arquivo de tamanho menor para
                melhor transportar em um pendrive, enviar por e-mail ou arquivar,
                como: Winzip, Winrar, 7Zip, entre outros.
            </p>
            <img src="../../sources/imgzip.jpeg" alt="zip">

            <img src="../../sources/imgantivirus.jpeg" alt="antivirus">

            <p>
                3) Software antivírus: protege o computador contra outros
                programas potencialmente danosos. Ele detecta, impede e atua
                na remoção de programas maliciosos, como vírus e worms.
                Existem vários softwares antivírus no mercado, os mais
                famosos são: Kaspersky, Norton e McAfee, todos pagos. Uma
                boa alternativa para usuários de Windows é o antivírus
                Windows defender. É gratuito e já vem instalado nas versões
                mais atuais desse sistema operacional.
            </p>
            <p>
                4) Navegador de internet: software necessário para acessar
                sites na internet. Atualmente três navegadores se destacam no
                mercado: Google Chrome, Mozilla Firefox e Microsoft Edge. Mais
                adiante falaremos especificamente sobre esses navegadores.
            </p>
            <img src="../../sources/imgnavegador.jpeg" alt="navegador">
            <a href="../documentos.html">Voltar</a>
        </article>
    </section>

    <footer class="footer">
      <p>&copy; 2024 ComConquer</p>
      <div class="contact-info">
        <a href="tel:+55123456789">Telefone: (12) 3456-7890</a>
        <a href="mailto:contato@seudominio.com"
          >Email: contato@comconquer.com</a>
        <a href="https://wa.me/55123456789">WhatsApp: (12) 3456-7890</a>
      </div>
    </footer>
  </body>
  <script src="../../scripts/script.js"></script>
</html>
