<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ComConquer</title>
    <link rel="icon" href="../../sources/ccicon.ico" />
    <link rel="stylesheet" href="../../stylesheet/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav id="nav">
      <ul>
        <li>
          <a href="index.html">
            <img
              id="icon2"
              src="../../sources/ccicon.ico"
              alt="icone da empresa 🤓"
            />
          </a>
        </li>
        <li><a href="servicos.html">Serviços</a></li>
        <li><a href="sobre.html">Sobre</a></li>
        <li><a href="contato.html">Contato</a></li>
        <li><a href="documentos.html">Documentos</a></li>
      </ul>
    </nav>

    <section class="page-container">
        <article class="page-content">
          <h1>Conhecendo o Windows 10</h1>
          <p>De acordo com o site mundoconectado.com, o Windows 10 é o sistema
            operacional mais utilizado no mundo, isso porque, mesmo se tratando de um
            sistema operacional pago, ganhou adeptos no decorrer dos anos por ser mais
            amigável aos usuários e também por fornecer maior suporte. No gráfico abaixo é
            possível observar claramente a diferença de uso dos principais sistemas
            operacionais ativos atualmente:
          </p>
          <img src="../../sources/imgsistemas.jpeg" alt="ranking">
          <p>
            Por ser o sistema operacional mais usado no momento, apresentaremos a seguir
            alguns espaços, ferramentas e funcionalidades importantes para que você utilize o
            Windows 10 sem complicações!
          </p> <br>
          <h3>Área de Trabalho</h3>
          <p>Esta é a área de trabalho do Windows. É o espaço de trabalho da tela do usuário no
            qual aparecem os ícones como, “lixeira” e “meus documentos”, que são
            componentes da área de trabalho, além das janelas de aplicativos e as caixas de
            diálogo. Aqui ficam também os atalhos de programas para realizar inicializações
            rápidas e onde é possível salvar arquivos que você queira encontrar rapidamente.
          </p>
          <img src="../../sources/imgAreaDeTrabalho.jpeg" alt="Área de trabalho">
          <p>Recomenda-se evitar o acúmulo de muitos atalhos e arquivos na área de trabalho,
            pois isso pode tornar mais difícil encontrar algo quando necessário. Para isso, o
            computador pode ser dividido em pastas, como explicaremos mais adiante.
            A imagem que aparece ao fundo é o “papel de parede” padrão do Windows 10 que
            pode ser alterada pelo usuário. Na parte inferior está a “barra de tarefas”. Nela é
            possível encontrar o relógio, os programas de inicialização rápida, que ficam do lado
            direito, e os ícones dos programas e pastas de acesso rápido, que ficam mais ou
            menos no meio da barra de tarefas.
          </p>
          <p>
            Ainda na barra de tarefas, encontra-se também o botão “iniciar”, um dos mais
            utilizados pelos usuários. Possibilita localizar e abrir documentos, inicializar
            rapidamente um programa, alterar as configurações do computador ou
            desligar/reiniciar o computador.
          </p>*
          <img src="../../sources/imgInicio.jpeg" alt="início"> <br>
          <img src="../../sources/imgInicio1.jpeg" alt="início1"> <br>
          <h3>Painel de Controle</h3>
          <p>
            Outra área bastante utilizada pelos usuários do Windows é o “Painel de Controle”.
            É nesse espaço que você localiza praticamente toda e qualquer alteração que
            queira executar no seu computador.
            Para acessar o Painel de Controle, clique no botão iniciar e digite na caixa de
            pesquisa "Painel de Controle". O aplicativo aparecerá na busca conforme imagem a
            seguir:
          </p>
          <img src="../../sources/imgPainelDeControle.jpeg" alt="Painelde controle">
          <p>
            Por meio do Painel de Controle é possível: alterar o sistema de segurança, realizar o
            controle de usuários, ativar e desativar opções de rede e internet, verificar opções
            de sons e hardwares, adicionar e remover programas, alterar aparência e
            personalização do Windows, alterar o horário do relógio e região, entre outras
            opções.
          </p>
          <p>
            A imagem a seguir mostra o painel por completo.
          </p>
          <img src="../../sources/imgPainelCompleto.jpeg" alt="Painel completo"><br>
          <h3>As principais pastas no Windows 10</h3>
          <p>
            Em um sistema operacional, as pastas servem para armazenar/compartimentar
            arquivos ou programas. O Windows 10 disponibiliza pastas que são padrão em
            todas as instalações, portanto, é importante que você conheça melhor quais são
            elas e para que servem:
          </p>
          <img src="../../sources/imgPrincipaisPastas.jpeg" alt="Pastas">
          <img src="../../sources/imgPrincipaisPastas1.jpeg" alt="Pricipais pastas"><br>
          <a href="../documentos.html">Voltar</a>
        </article>
    </section>

    <footer class="footer">
      <p>&copy; 2024 ComConquer</p>
      <div class="contact-info">
        <a href="tel:+55123456789">Telefone: (12) 3456-7890</a>
        <a href="mailto:contato@seudominio.com"
          >Email: contato@comconquer.com</a
        >
        <a href="https://wa.me/55123456789">WhatsApp: (12) 3456-7890</a>
      </div>
    </footer>
  </body>
  <script src="../../scripts/script.js"></script>
</html>
