<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ComConquer</title>
    <link rel="icon" href="../../sources/ccicon.ico" />
    <link rel="stylesheet" href="../../stylesheet/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav id="nav">
      <ul>
        <li>
          <a href="index.html">
            <img
              id="icon2"
              src="../../sources/ccicon.ico"
              alt="icone da empresa 🤓"
            />
          </a>
        </li>
        <li><a href="../servicos.html">Serviços</a></li>
        <li><a href="../sobre.html">Sobre</a></li>
        <li><a href="../contato.html">Contato</a></li>
        <li><a href="../documentos.html">Documentos</a></li>
      </ul>
    </nav>

    <section class="page-container">
        <article class="page-content">
          <h1>Navegadores e Internet</h1>
          <p>
            Para navegar na internet através do seu computador é necessário um software
            específico conhecido como navegador web. Existem hoje no mercado várias
            opções de fabricantes diferentes. Veja no infográfico a seguir os principais:
          </p>
          <img src="../../sources/imgPrincipaisNavegadores.jpeg" alt="Principais navegadores" width="300px">
          <div class="imagem">
            <img src="../../sources/imgChrome.jpeg" alt="img100" class="img100">
            <img src="../../sources/imgMozilla.jpeg" alt="img101" class="img101">
            <img src="../../sources/imgEdge.jpeg" alt="img102" class="img102">
          </div>
          <img src="../../sources/imgPesquisarNavegadores.jpeg" alt="Pesquisar navegadores">
          <p>
            De acordo com o site Statcounter, o navegador Google Chrome saltou para o topo
            dos 5 navegadores mais utilizados pelos usuários no mundo. Essa pesquisa
            mostrou que, de janeiro de 2009, quando praticamente tinha 0% de usuários,
            passou para 69.66% em setembro de 2020, sendo considerado o navegador web
            mais utilizado no mundo. O quadro abaixo apresenta os dados atuais de uso desses
            navegadores:
          </p>
          <img src="../../sources/imgRankingNavegadores2020.jpeg" alt="Ranking2020"><br>

          <h3>Navegando na Internet</h3>
          <p>
            Ao acessar a área de trabalho do seu computador, procure pelo ícone do navegador
            preferido. Ele pode ser encontrado na barra de tarefas, no menu iniciar ou mesmo na
            tela, caso tenha sido adicionado como um atalho. Ao executá-lo, o programa abrirá a
            página de navegação, que normalmente é carregada em branco, aguardando que
            você, usuário, digite o endereço correspondente para navegação ou pesquisa.
            A imagem abaixo mostra o navegador Google Chrome aberto com as numerações
            de alguns campos indicados. Veja o significado de cada um deles:
          </p>
          <img src="../../sources/imgGoogleChrome.jpeg" alt="Google Chrome">
          <img src="../../sources/imgGoogleChrome1.jpeg" alt="Google Chrome"><br>
          <h3>Dicas de segurança para navegação na web</h3>
          <img src="../../sources/imgSegurança.jpeg" alt="segurança">
          <p>
            Tendo em vista a grande utilização da internet para realização
            de compras, pagamentos, transferências e outras aplicações,
            se faz necessário aumentar a segurança dos usuários durante
            esta navegação, pois vários são os riscos que se corre ao
            inserir dados pessoais e de pagamento em sites da internet.
          </p>
          <p>
            O Centro de Estudos, Respostas e Tratamento de Incidentes de Segurança no
            Brasil (https://www.cert.br/), é uma página que disponibiliza informações sobre a
            segurança durante a navegação na internet em forma de cartilhas e/ou vídeos.
            Recomendamos acessar o site e verificar as dicas e materiais para aprender formas
            de se manter seguro sem deixar de aproveitar todas as facilidades que a internet
            pode nos proporcionar.
            Destacamos a seguir algumas dicas importantes em relação a segurança:
          </p>
          <img src="../../sources/imgHttps.jpeg" alt="https">
          <p>
            O navegador Google Chrome, por exemplo, apresenta em sites
            seguros um cadeado antes do endereço: https. Este cadeado indica
            que ali há certificados de segurança que garantem que os conteúdos
            digitados e trocados estão seguros.
          </p>
          <img src="../../sources/imganonima.jpeg" alt="janela anônima">
          <p>
            Outra forma de manter a segurança durante a navegação é usar o
            navegador em modo janela anônima, pois as páginas visitadas não
            serão armazenadas no histórico do navegador, nos cookies, nem no
            histórico de pesquisa depois que todas as abas forem fechadas.
            Porém, os arquivos que o usuário fez download e seus favoritos são mantidos.
            Todos os navegadores de internet oferecem a opção de navegação anônima. No
            Google Chrome, por exemplo, para ativar o modo de navegação anônima, basta
            digitar no teclado, quando o navegador estiver aberto, o comando Ctrl+Shift+N.
          </p>
          <p>
            Ou, ao clicar nos três pontos verticais na
            barra superior à direita, clique em nova
            janela anônima. Vale lembrar que essa
            seleção mantém apenas esta janela anônima
            e que, navegando em modo anônimo, o
            usuário não fica invisível. Ou seja, a
            navegação anônima não oculta sua
            navegação do seu empregador, provedor de
            acesso à internet, nem dos sites visitados.
          </p>
          <img src="../../sources/imgAnonima1.jpeg" alt="janela anônima">
          <img src="../../sources/imgcorrente.jpeg" alt="corrente">
          <p>
            Seja cuidadoso ao clicar em links, independente de como foram
            recebidos e de quem os enviou. Desconfie de links enviados por
            pessoas desconhecidas. Leia atentamente a mensagem e se
            parecer um golpe, não clique!
          </p>
          <p>
            Para se aprofundar mais no assunto e navegar na web com mais segurança, acesse
            o site https://internetsegura.br/ e conheça mais dicas e recomendações para
            uma navegação segura.</p>
          <p>
            Outra boa opção, ainda mais aprofundada no assunto, é a Cartilha de Segurança
            para Internet, disponibilizada pelo Cert.br. Pode ser acessada pelo endereço
            https://cartilha.cert.br/.
          </p><br>
          <a href="../documentos.html">Voltar</a>
        </article>
    </section>

    <footer class="footer">
      <p>&copy; 2024 ComConquer</p>
      <div class="contact-info">
        <a href="tel:+55123456789">Telefone: (12) 3456-7890</a>
        <a href="mailto:contato@seudominio.com"
          >Email: contato@comconquer.com</a
        >
        <a href="https://wa.me/55123456789">WhatsApp: (12) 3456-7890</a>
      </div>
    </footer>
  </body>
  <script src="../../scripts/script.js"></script>
</html>
