<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ComConquer</title>
    <link rel="icon" href="../sources/ccicon.ico">
    <link rel="stylesheet" href="../stylesheet/style.css">
<body>
    <nav class="nav-bar">
        <ul class="nav-list">
            <li class="nav-item"><a href="index.html">Página Inicial</a></li>
            <li class="nav-item"><a href="servicos.html">Serviços</a></li>
            <li class="nav-item"><a href="sobre.html">Sobre</a></li>
            <li class="nav-item"><a href="contato.html">Contato</a></li>
        </ul>    
    </nav>
        <h1>Contato Comconquer</h1>
        <h2>Fale Conosco</h2>
        <p>Tem alguma dúvida ou precisa de suporte? Entre em contato através dos nossos canais:</p>
        <ul>
            <li>E-mail: contato@comconquer.com</li>
            <li>Telefone: (XX) XXXXX-XXXX</li>
        </ul>

</body>
</html>