<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ComConquer</title>
    <link rel="icon" href="../sources/ccicon.ico">
    <link rel="stylesheet" href="../stylesheet/style.css">
<body>
    <nav class="nav-bar">
        <ul class="nav-list">
            <li class="nav-item"><a href="index.html"><img id="icon2" src="../sources/ccicon.ico" alt="bosta seca"></a></li>
            <li class="nav-item"><a href="index.html">Extras</a></li>
            <li class="nav-item"><a href="servicos.html">Serviços</a></li>           
            <li class="nav-item"><a href="sobre.html">Sobre</a></li>
            <li class="nav-item"><a href="contato.html">Contato</a></li>
        </ul>    
    </nav>
    <section class="messageForm">
        <form id="messageForm">
            <label for="nome">Nome:</label> <br>
            <input type="text" id="nome" name="nome" required>
            <br>
            <label for="msg">Mensagem:</label> <br>
            <textarea name="textarea" id="textarea" cols="50" rows="5"></textarea>
            <br>
            <button type="button" id="msgBtn">Enviar</button>
        </form>
    </section>
    <footer>
        <table>
            <tr>
                <td><img src="https://cdn-icons-png.flaticon.com/128/5968/5968841.png" alt="whatsapp icon" width="30px" height="30px"></a></td>
                <td>&nbsp;&nbsp;Whatsapp ❯ </td>
                <td>(XX)XXXXX-XXXX┃</td>
        
                <td><img src="https://cdn-icons-png.flaticon.com/128/2213/2213470.png" alt="gmail icon" width="30px" height="30px"></td>
                <td>&nbsp;&nbsp;Gmail ❯ </td>
                <td>contato@comconquer.com┃</td>
        
                <td><img src="https://cdn-icons-png.flaticon.com/128/107/107778.png" alt="telefone icon" width="30px" height="30px"></td>
                <td>&nbsp;&nbsp;Telefone ❯ </td>
                <td>(XX) XXXX-XXXX</td>
            </tr>

        </table>
    </footer>
</body>
</html>