<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ComConquer</title>
    <link rel="icon" href="../sources/ccicon.ico" />
    <link rel="stylesheet" href="../stylesheet/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="../scripts/script.js"></script>
  </head>
  <body>
    <nav id="nav">
      <ul>
        <li>
          <a href="index.html">
            <img
              id="icon2"
              src="../sources/ccicon.ico"
              alt="icone da empresa 🤓"
            />
          </a>
        </li>
        <li><a href="servicos.html">Serviços</a></li>
        <li><a href="sobre.html">Sobre</a></li>
        <li><a href="contato.html">Contato</a></li>
        <li><a href="extras.html">Extras</a></li>
      </ul>
    </nav>

    <section class="page-container">
        <article class="teste">
          <h1>Boas práticas para o estudo on-line</h1>
          <h3>Netiqueta</h3>
          <p>
            O termo se refere às regras básicas que norteiam a boa
            convivência entre os sujeitos na internet. O objetivo aqui é
            estabelecer alguns parâmetros capazes de facilitar a
            comunicação entre professores e estudantes no ambiente
            virtual de ensino e aprendizagem (AVEA) e na internet.
          </p>
          <img src="../sources/imgNetiqueta.jpeg" alt="imgNetiqueta">
          <img src="../sources/img1.jpeg" alt="img1">
          <p>Nada de gritos! Sabe aquela sensação desagradável de conversar
            com alguém que só fala gritando? Na internet isso também
            acontece quando alguém escreve EM CAIXA ALTA. Por isso, evite
            usar a caixa alta, optando pelo negrito ou sublinhado quando quiser
            destacar algo em seu texto.
          </p>
          <img src="../sources/img2.jpeg" alt="img2">
          <p>
            Vá com calma! Faça pausas ao expor suas ideias. Não se esqueça
            de pontuar frases ao enviar mensagens e/ou comentários. Sempre
            que possível, revise seu texto a fim de evitar erros gramaticais
            e/ou ortográficos. Isso facilitará a compreensão por parte do seu
            leitor, tornando o diálogo mais eficiente e objetivo.
          </p>
          <img src="../sources/img3.jpeg" alt="img3">
          <p>
            Lembre-se, menos é mais! Textos muito coloridos, com muita
            alternância de fontes e tamanhos das letras pode se tornar um
            incômodo para o seu leitor(a). Para quebrar a monotonia,
            desmembre textos grandes em blocos menores, utilize espaços em
            branco entre os parágrafos, seja objetivo.
          </p>
          <img src="../sources/img4.jpeg" alt="img4">
          <p>
            Impessoalidade na medida certa. Mesmo o AVEA sendo um
            espaço formal, o uso moderado de expressões idiomáticas,
            emoticons e até mesmo gírias podem tornar o diálogo mais leve,
            além de trazer sutileza a determinada sentença. O excesso de
            formalidade tende a causar distanciamento e ser interpretado
            como frieza e antipatia.
          </p>
          <h3>Recomendações gerais para aulas on-line</h3>
          <img src="../sources/imgTempo.jpeg" alt="imgTempo">
          <p>
            Seja pontual! Para isso, faça seu login com antecedência mínima de
            15 (quinze) minutos e verifique o bom funcionamento dos recursos
            que serão utilizados (computador ou outro dispositivo, conexão à
            internet, câmera, microfone).
          </p>
          <p>
            Apresentação pessoal: Para a escolha da roupa adequada, tenha como
            parâmetro aquelas que utilizava nos encontros presenciais. Vista-se
            por completo e não use pijama!
          </p>
          <img src="../sources/imgApresentaçãoPessoal.jpeg" alt="imgApresentaçãoPessoal">
          <img src="../sources/imgAmbienteClaro.jpeg" alt="imgAmbienteClaro">
          <p>
            Sempre que possível, escolha ambientes claros (porém, evite ficar de
            costas para janelas com excesso de claridade), neutros e, de
            preferência, fechados. Atente-se para o que está em segundo plano
            (atrás de você).
          </p>
          <p>
            Microfone: Deixar o microfone mudo/desligado. Quando alguém está
            falando, os demais devem deixar o microfone no modo silencioso
            para evitar interferência.
          </p>
          <img src="../sources/imgMicrofone.jpeg" alt="imgMicrofone">
          <img src="../sources/imgCamera.jpeg" alt="imgCamera">
          <p>
            Câmera: O ideal é que se mantenha a câmera ligada para que todos
            possam se ver. Em tempos de distanciamento, poder ver os demais
            colegas reforça a sensação de pertencimento e engajamento. Mas se
            você não estiver em condições de aparecer, desligue a câmera,
            evitando constrangimentos.
          </p>
          <p>
            Fones de ouvido: A utilização dos fones para as aulas online evita
            ruídos de microfonia e ainda isola sons externos, contribuindo para o
            foco do estudante no conteúdo da aula.  
          </p>
          <img src="../sources/imgFoneDeOuvido.jpeg" alt="imgFoneDeOuvido">
          <img src="../sources/ImgTempoDeFala.jpeg" alt="ImgTempoDeFala">
          <p>
            Atente-se ao tempo de fala do outro e evite realizar interrupções!
            Sempre que o professor ou o colega terminar de falar, por conta do
            delay (atraso na comunicação), aguarde um pouquinho antes de iniciar
            a sua fala, certifique-se que o raciocínio foi concluído!
          </p>
          <p>
            Evite os famosos lanchinhos durante a aula on-line. Assim como
            nos encontros presenciais, pode incomodar os demais
            participantes além de desviar o seu foco na atividade principal. E
            mascar chicletes? Nem pensar!
          </p>
          <img src="../sources/imgEviteLanches.jpeg" alt="imgEviteLanches">
          <img src="../sources/imgDistrações.jpeg" alt="imgDistrações">
          <p>
            Evite ficar olhando rede sociais e outros aplicativos durante as
            aulas on-line, evite distrações! Lembre-se de que este momento
            de encontro ao vivo tornou-se precioso para o seu processo de
            aprendizagem. Aproveite-o ao máximo!
          </p>
          <p>
            A aula terminou? Certifique-se de que não continua sendo gravado
            ou ouvido, desabilitando câmera e microfone.
          </p>
          <img src="../sources/imgDesligarEquipamentos.jpeg" alt="imgDesligarEquipamentos">
          <a href="extras.html">Voltar</a>
        </article>
    </section>

    <footer class="footer">
      <p>&copy; 2024 ComConquer</p>
      <div class="contact-info">
        <a href="tel:+55123456789">Telefone: (12) 3456-7890</a>
        <a href="mailto:contato@seudominio.com"
          >Email: contato@comconquer.com</a
        >
        <a href="https://wa.me/55123456789">WhatsApp: (12) 3456-7890</a>
      </div>
    </footer>
  </body>
</html>
