<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ComConquer</title>
    <link rel="icon" href="../sources/ccicon.ico">
    <link rel="stylesheet" href="../stylesheet/style.css">
</head>
<body>
    <nav class="nav-bar">
        <ul class="nav-list">
            <li class="nav-item"><a href="index.html"><img id="icon2" src="../sources/ccicon.ico" alt="bosta seca"></a></li>
            <li class="nav-item"><a href="index.html">Extras</a></li>
            <li class="nav-item"><a href="servicos.html">Serviços</a></li>           
            <li class="nav-item"><a href="sobre.html">Sobre</a></li>
            <li class="nav-item"><a href="contato.html">Contato</a></li>
        </ul>    
    </nav>

    <h1>place holder</h1>
    <h2>place holder</h2>

    <button onclick="showModule(1)">Módulo 1</button>
    <button onclick="showModule(2)">Módulo 2</button>
    <button onclick="showModule(3)">Módulo 3</button>
    <button onclick="showModule(4)">Sair</button>

    <ul class="videos module" id="module1">
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/9fNHAD7ZDL4" title="Curso de Informática Básica GRÁTIS – Aula 01" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/w57-Xl5jZ2o" title="Curso de Informática Básica GRÁTIS – Aula 02" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/LSZCkC0k93s" title="Curso de Informática Básica GRÁTIS – Aula 03" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/SCu1ekLecgY" title="Curso de Informática Básica GRÁTIS – Aula 04" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/8QuBUY1dW-M" title="Curso de Informática Básica GRÁTIS – Aula 05" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
    </ul>

    <ul class="videos module" id="module2">
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/7CmCCDEzKJg" title="Curso de Informática Básica GRÁTIS – Aula 06" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/Sx5CAZT20BU" title="Curso de Informática Básica GRÁTIS – Aula 07" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
        <li>
            <iframe width="500" height="300"src="https://www.youtube.com/embed/T9ULtzQLw-k" title="Curso de Informática Básica GRÁTIS – Aula 08" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/nohtr8-MoCg" title="Curso de Informática Básica GRÁTIS – Aula 09" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/zbwWRSC2Xos" title="Curso de Informática Básica GRÁTIS – Aula 10" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
    </ul>

    <ul class="videos module" id="module3">
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/opooBP1dNJY" title="Curso de Informática Básica GRÁTIS – Aula 11" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
        </li>
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/r7TDaa6GLVk" title="Curso de Informática Básica GRÁTIS – Aula 12" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/xUV0TE2taXw" title="Curso de Informática Básica GRÁTIS – Aula 13" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/hM6i_r4CdUw" title="Curso de Informática Básica GRÁTIS – Aula 14" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/T3i7KikR9Eo" title="Curso de Informática Básica GRÁTIS – Aula 15" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/CXpAsviaVAY" title="Curso de Informática Básica GRÁTIS – Aula 16" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
    </ul> 
</body>
    <script src="../scripts/script.js"></script>
</html>