<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ComConquer</title>
    <link rel="icon" href="../sources/ccicon.ico" />
    <link rel="stylesheet" href="../stylesheet/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <!-- MARCLOD AINDA VAI AJEITAR ESSA SEÇÃO -->

  <body>
    <nav id="nav">
      <ul>
        <li>
          <a href="index.html">
            <img
              id="icon2"
              src="../sources/ccicon.ico"
              alt="icone da empresa 🤓"
            />
          </a>
        </li>
        <li><a href="extras.html">Extras</a></li>
        <li><a href="servicos.html">Serviços</a></li>
        <li><a href="sobre.html">Sobre</a></li>
        <li><a href="contato.html">Contato</a></li>
      </ul>
    </nav>

    <h1>place holder</h1>
    <h2>place holder</h2>

    <button onclick="showModule(1)">Módulo 1</button>
    <button onclick="showModule(2)">Módulo 2</button>
    <button onclick="showModule(3)">Módulo 3</button>
    <button onclick="showModule(4)">Sair</button>

    <ul class="videos module" id="module1">
      <li>
        <iframe
          width="500"
          height="300"
          src="https://www.youtube.com/embed/9fNHAD7ZDL4"
          title="Curso de Informática Básica GRÁTIS – Aula 01"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </li>
      <li>
        <iframe
          width="500"
          height="300"
          src="https://www.youtube.com/embed/w57-Xl5jZ2o"
          title="Curso de Informática Básica GRÁTIS – Aula 02"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </li>
      <li>
        <iframe
          width="500"
          height="300"
          src="https://www.youtube.com/embed/LSZCkC0k93s"
          title="Curso de Informática Básica GRÁTIS – Aula 03"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </li>
      <li>
        <iframe
          width="500"
          height="300"
          src="https://www.youtube.com/embed/SCu1ekLecgY"
          title="Curso de Informática Básica GRÁTIS – Aula 04"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </li>
      <li>
        <iframe
          width="500"
          height="300"
          src="https://www.youtube.com/embed/8QuBUY1dW-M"
          title="Curso de Informática Básica GRÁTIS – Aula 05"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </li>
    </ul>

    <ul class="videos module" id="module2">
      <li>
        <iframe
          width="500"
          height="300"
          src="https://www.youtube.com/embed/7CmCCDEzKJg"
          title="Curso de Informática Básica GRÁTIS – Aula 06"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </li>
      <li>
        <iframe
          width="500"
          height="300"
          src="https://www.youtube.com/embed/Sx5CAZT20BU"
          title="Curso de Informática Básica GRÁTIS – Aula 07"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </li>
      <li>
        <iframe
          width="500"
          height="300"
          src="https://www.youtube.com/embed/T9ULtzQLw-k"
          title="Curso de Informática Básica GRÁTIS – Aula 08"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </li>
      <li>
        <iframe
          width="500"
          height="300"
          src="https://www.youtube.com/embed/nohtr8-MoCg"
          title="Curso de Informática Básica GRÁTIS – Aula 09"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </li>
      <li>
        <iframe
          width="500"
          height="300"
          src="https://www.youtube.com/embed/zbwWRSC2Xos"
          title="Curso de Informática Básica GRÁTIS – Aula 10"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </li>
    </ul>

    <ul class="videos module" id="module3">
      <li>
        <iframe
          width="500"
          height="300"
          src="https://www.youtube.com/embed/opooBP1dNJY"
          title="Curso de Informática Básica GRÁTIS – Aula 11"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </li>
      <li>
        <iframe
          width="500"
          height="300"
          src="https://www.youtube.com/embed/r7TDaa6GLVk"
          title="Curso de Informática Básica GRÁTIS – Aula 12"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </li>
      <li>
        <iframe
          width="500"
          height="300"
          src="https://www.youtube.com/embed/xUV0TE2taXw"
          title="Curso de Informática Básica GRÁTIS – Aula 13"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </li>
      <li>
        <iframe
          width="500"
          height="300"
          src="https://www.youtube.com/embed/hM6i_r4CdUw"
          title="Curso de Informática Básica GRÁTIS – Aula 14"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </li>
      <li>
        <iframe
          width="500"
          height="300"
          src="https://www.youtube.com/embed/T3i7KikR9Eo"
          title="Curso de Informática Básica GRÁTIS – Aula 15"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </li>
      <li>
        <iframe
          width="500"
          height="300"
          src="https://www.youtube.com/embed/CXpAsviaVAY"
          title="Curso de Informática Básica GRÁTIS – Aula 16"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </li>
    </ul>
    <footer>
      <table>
        <tr>
          <td>
            <img
              src="https://cdn-icons-png.flaticon.com/128/5968/5968841.png"
              alt="whatsapp icon"
              width="30px"
              height="30px"
            />
          </td>
          <td>&nbsp;&nbsp;Whatsapp ❯</td>
          <td>(XX)XXXXX-XXXX┃</td>

          <td>
            <img
              src="https://cdn-icons-png.flaticon.com/128/2213/2213470.png"
              alt="gmail icon"
              width="30px"
              height="30px"
            />
          </td>
          <td>&nbsp;&nbsp;Gmail ❯</td>
          <td>contato@comconquer.com┃</td>

          <td>
            <img
              src="https://cdn-icons-png.flaticon.com/128/107/107778.png"
              alt="telefone icon"
              width="30px"
              height="30px"
            />
          </td>
          <td>&nbsp;&nbsp;Telefone ❯</td>
          <td>(XX) XXXX-XXXX</td>
        </tr>
      </table>
    </footer>
  </body>
  <script src="../scripts/script.js"></script>
</html>
