<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ComConquer</title>
    <link rel="icon" href="../sources/ccicon.ico">
    <link rel="stylesheet" href="../stylesheet/style.css">
<body>
    <nav class="nav-bar">
        <ul class="nav-list">
            <li class="nav-item"><a href="index.html"><img id="icon2" src="../sources/ccicon.ico" alt="bosta seca"></a></li>
            <li class="nav-item"><a href="extras.html">Extras</a></li>
            <li class="nav-item"><a href="servicos.html">Serviços</a></li>           
            <li class="nav-item"><a href="sobre.html">Sobre</a></li>
            <li class="nav-item"><a href="contato.html">Contato</a></li>
        </ul>    
    </nav>
    <h1>INFORMÁTICA BÁSICA PARA O ESTUDO ON-LINE</h1>
    <h2>O COMPUTADOR :</h2>
    <p>Você já usou um computador, seja para trabalho, estudos ou mesmo para se distrair
        navegando na internet? Se a sua resposta é sim, te convido a conhecer um pouco
        mais sobre esta ferramenta tão importante no nosso dia a dia. Mas se a sua
        resposta é não, não se assuste pois esta apostila também é para você! Sente, leia
        com atenção, converse com os colegas, com o professor, aposto que ao final você
        também vai conhecer mais sobre essa tão importante ferramenta!
        Os computadores que usamos em casa ou no trabalho se dividem em dois tipos: os
        computadores de mesa, conhecidos também como desktops, e os notebooks,
        também chamados de laptops.
        </p>
    <h3>Os desktops se subdividem em dois tipos:</h3>
    <h3>Computador do tipo torre</h3>
    <p>Ele possui o gabinete separado do monitor. O gabinete é
        o espaço onde estão alojados os componentes
        necessários para o funcionamento do computador:
        memórias, placas, processador, cabos, dentre outros .
        </p>
    <h3>Computador do tipo All in One (tudo em um)</h3>
    <p>A primeira vista este modelo de desktop parece um
        monitor apenas, não é? Mas não se engane, ele possui o
        gabinete, ou seja, memórias, placas, processador, cabos,
        dentre outros componentes, todos acoplados na parte de
        trás do monitor, o que torna o All in One um modelo de
        desktop mais prático e fácil de acomodar.
        </p>
    <h3>Os notebooks</h3>
    <p>Os notebooks são computadores muito versáteis,
        leves e podem ser transportados com facilidade. É
        uma ótima opção para quem quer levar o
        computador para escola ou mesmo para o trabalho.
        Nele, o teclado, a tela (monitor) e os componentes
        estão todos acoplados formando uma peça única.</p>
    <p>Seja um desktop ou notebook, um computador é composto por duas partes
        básicas: softwares, que são as partes lógicas, isto é, programas, aplicativos e
        sistemas operacionais, e hardwares, que são as partes físicas e que muitas vezes
        podem ser manuseadas pelos usuários. A seguir, vamos conhecer melhor essas
        duas partes.
        </p>
    <h2>HARDWARE :</h2>
    <h3>Gabinete</h3>
    <p>O gabinete é o espaço onde estão alojados os componentes
        necessários para o funcionamento do computador. Memórias,
        placas, processador, cabos, dentre outros componentes compõem
        o gabinete. Costumamos dizer que o gabinete é o próprio
        computador.
        </p>
    <h3>Mouse</h3>
    <p>É um dispositivo bastante simples, porém de muita importância.
        Com o mouse o usuário manuseia o cursor (seta que aparece na tela
        do computador) para selecionar os objetos desejados, abrir arquivos
        (com duplo clique), copiar e colar textos, selecionar pastas, figuras,
        imagens, etc. O mouse é composto normalmente por 2 botões: um
        esquerdo e um direito e, ao meio, uma rodinha (scroll). Mas qual a
        função deles?</p>
    <p><b>Botão esquerdo:</b> O botão esquerdo é usado normalmente para
        selecionar, abrir arquivos, arrastar, marcar, posicionar o cursor,
        entre outras funções. Isto vai depender de qual ferramenta você
        está usando no computador.
        <br>
        <b>Botão direito:</b> O botão direito do mouse é usado, em geral, para
        acessar propriedades da ferramenta, ver opções de ajustes,
        acessar submenu com informações de edição (copiar, colar e
        recortar). Portanto este botão assume várias funções
        dependendo do momento e do local em que é acionado.
        <br>
        <b>Rodinha (scroll):</b> Tem a função de movimentar o cursor
        rapidamente na tela, seguindo o movimento que é feito com ela.
        Girá-la, por exemplo, na sua direção, fará com que o conteúdo da
        tela se movimente para cima (seja em um texto ou página web).
        É o periférico em que se encontram os principais comandos para operar um
        computador. É pelo teclado que os textos são digitados. Ele está dividido em cinco
        partes:
        Ela tem a função de clique também, e isso fará com que a navegação seja feita em
        câmera lenta. Faça um teste!
        </p>
    <h3>Teclado</h3>
    <p>É o periférico em que se encontram os principais comandos para operar um
        computador. É pelo teclado que os textos são digitados. Ele está dividido em cinco
        partes:</p>
    <p> <b>A) Teclado alfanumérico:</b> com letras e números como em uma máquina de
        escrever;<br>
        <b>B) Teclado numérico:</b> como em uma calculadora. <br>
        <b>C) Teclas de controle:</b> são teclas que (F1, Home, Alt e Shift, Insert, Delete, Page
        Up, Page Down, por exemplo), usadas isoladamente ou em conjunto com outras,
        executam funções específicas. <br>
        <b>D) Teclas de direção:</b> essas teclas possuem setas indicando o sentido de direção
        do cursor. <br>
        <b>E) Teclas de função:</b> realizam funções específicas, que mudam de acordo com o
        programa ou sistema operacional utilizado. Elas também podem ser ativadas em
        conjunto com outras teclas.
        </p>
    <h3>Função das principais teclas no teclado</h3>
    <table>
        <tr>
            <td><img src="../sources/enter.png" alt="tecla enter"></td>
            <td>A tecla Enter é utilizada para iniciar parágrafo, quebrar uma
                linha no texto ou efetuar confirmações.
                </td>
        </tr>
    </table>
    <table>
        <tr>
            <td><img src="../sources/shift.png" alt="tecla shift"></td>
            <td>A tecla Shift é utilizada para iniciar caracteres especiais ou
                ativar momentaneamente as teclas maiúsculas do teclado
                (mantendo a tecla Shift pressionada).</td>
        </tr>
    </table>
    <table>
        <tr>
            <td><img src="../sources/tab.png" alt="tecla tab"></td>
            <td>Tab é usada na edição de textos. Serve como marcador de
                parágrafos. Ela é útil também quando precisamos movimentar o
                cursor de um campo a outro, ou seja, para preencher cadastros,
                entrar no e-mail, etc.
        </td>
        </tr>
    </table>
    <table>
        <tr>
            <td><img src="../sources/backspace.png" alt="tecla backspace"></td>
            <td>Chamada de Backspace, essa tecla serve para retroceder o
                cursor, apagando os caracteres à esquerda do cursor.
                </td>
        </tr>
    </table>
    <table>
        <tr>
            <td><img src="../sources/capslock.png" alt="tecla capslock"></td>
            <td>A tecla Caps Lock ativa/desativa as letras maiúsculas do
                teclado.
                </td>
        </tr>
    </table>
    <table>
        <tr>
            <td><img src="../sources/printscreen.png" alt="tecla printscreen"></td>
            <td>A Print Screen é utilizada para capturar imagens que são
                exibidas na tela do computador.
                </td>
        </tr>
    </table>
    <table>
        <tr>
            <td><img src="../sources/ctrl.png" alt="tecla ctrl"></td>
            <td>A tecla Control tem utilidade principalmente quando usada em
                conjunto com outras teclas, nos chamados “atalhos do
                teclado.</td>
        </tr>
    </table>
    <table>
        <tr>
            <td><img src="../sources/alt.png" alt="tecla alt"></td>
            <td>A Alt é uma tecla de controle alternativo. Libera o uso do menu
                para trabalhar com o teclado e também pode ser combinada
                com outras teclas para executar funções.
                </td>
        </tr>
    </table>
    <table>
        <tr>
            <td><img src="../sources/esc.png" alt="tecla esc"></td>
            <td>A tecla Esc ou escape é usada para abandonar uma tela,
                programa ou menu.
                </td>
        </tr>
    </table>
    <table>
        <tr>
            <td><img src="../sources/delete.png" alt="tecla delete"></td>
            <td>A Delete ou Del apaga um caractere à direita do cursor. No
                Windows, deleta arquivos ou pastas.
                </td>
        </tr>
    </table>
    <table>
        <tr>
            <td><img src="../sources/monitor.png" alt="imagem de um monitor"></td>
            <td><b>Monitor</b> <br>
                O monitor é outro periférico bastante importante, pois é
                através dele que vemos as imagens que são projetadas
                pelo computador. Atualmente, muitas TVs vêm com função
                de monitor, portanto, possuem saídas específicas para
                ligar à CPU e assim projetar a imagem.
                Como as TVs, quanto melhor a resolução do monitor, melhor será a visualização da
                imagem projetada.
                </td>
        </tr>
    </table>
    <table>
        <br>
        <tr>
            <td><img src="../sources/webcam.png" alt="imagem de uma webcam"></td>
            <td><b>Webcam</b> <br>
                Anteriormente considerada apenas um acessório para os
                computadores, a webcam se tornou essencial para as
                gravações de videoaulas e participação nas aulas on-line.
                Com uma webcam, utilizando aplicativos de
                webconferência como Google Meet e Microsoft Teams, por
                exemplo, você pode aparecer em vídeo durante a aula online.
                </td>
        </tr>
    </table>
    <h3>Como periférico, a webcam pode estar vinculada ao computador ou notebook de 2
        formas:</h3>
    <table>
        <tr>
            <td><img src="../sources/webcam-acoplada.png" alt="webcam acoplada"></td>
            <td>Acoplada ao computador, como normalmente já
                vem nos notebooks e desktops do tipo All in one.</td>
        </tr>
    </table>
    <table>
        <tr>
            <td><img src="../sources/perifericos_usb.png" alt="perifericos usb"></td>
            <td>Individual, conectada ao computador por meio de
                um cabo do tipo <b>USB</b>.
                </td>
        </tr>
    </table>
    <table>
        <tr>
            <td><img src="../sources/multimidia.png" alt="multimidia"></td>
            <td><b>Kit Multimídia</b> <br>
                Assim como a webcam, o kit multimídia é um periférico do
                computador que se tornou bastante utilizado pelos usuários nos
                últimos anos. Com função de recepção e transmissão de voz e
                áudio, os kits têm se tornado cada vez menores, porém mais
                robustos quanto à qualidade de captação.
                </td>
        </tr>
    </table>
</body>
</html>
