<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ComConquer</title>
    <link rel="icon" href="../sources/ccicon.ico">
    <link rel="stylesheet" href="../stylesheet/style.css">
<body>
    <nav class="nav-bar">
        <ul class="nav-list">
            <li class="nav-item"><a href="index.html">Página Inicial</a></li>
            <li class="nav-item"><a href="servicos.html">Serviços</a></li>
            <li class="nav-item"><a href="sobre.html">Sobre</a></li>
            <li class="nav-item"><a href="contato.html">Contato</a></li>
        </ul>    
    </nav>
    <h1>ComConquer</h1>
    <p>
        
A Conconquer é uma empresa inovadora no campo da tecnologia, dedicada a democratizar o acesso ao conhecimento técnico e à educação em informática. Com uma plataforma intuitiva e de fácil navegação, oferecemos videoaulas abrangentes sobre informática básica, desenhadas para equipar nossos usuários com as habilidades essenciais necessárias para navegar no mundo digital de hoje.
    </p>
    <ul class="videos">
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/9fNHAD7ZDL4" title="Curso de Informática Básica GRÁTIS – Aula 01"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/w57-Xl5jZ2o" title="Curso de Informática Básica GRÁTIS – Aula 02"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/LSZCkC0k93s" title="Curso de Informática Básica GRÁTIS – Aula 03"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/SCu1ekLecgY" title="Curso de Informática Básica GRÁTIS – Aula 04"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/8QuBUY1dW-M" title="Curso de Informática Básica GRÁTIS – Aula 05"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/7CmCCDEzKJg" title="Curso de Informática Básica GRÁTIS – Aula 06"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/Sx5CAZT20BU" title="Curso de Informática Básica GRÁTIS – Aula 07"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
        <li>
            <iframe width="500" height="300"src="https://www.youtube.com/embed/T9ULtzQLw-k" title="Curso de Informática Básica GRÁTIS – Aula 08"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/nohtr8-MoCg" title="Curso de Informática Básica GRÁTIS – Aula 09"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/zbwWRSC2Xos" title="Curso de Informática Básica GRÁTIS – Aula 10"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/opooBP1dNJY" title="Curso de Informática Básica GRÁTIS – Aula 11"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
        </li>
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/r7TDaa6GLVk" title="Curso de Informática Básica GRÁTIS – Aula 12"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/xUV0TE2taXw" title="Curso de Informática Básica GRÁTIS – Aula 13"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/hM6i_r4CdUw" title="Curso de Informática Básica GRÁTIS – Aula 14"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/T3i7KikR9Eo" title="Curso de Informática Básica GRÁTIS – Aula 15"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
        <li>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/CXpAsviaVAY" title="Curso de Informática Básica GRÁTIS – Aula 16"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </li>
    </ul>
</body>
</html>
