<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ComConquer</title>
    <link rel="icon" href="../sources/ccicon.ico" />
    <link rel="stylesheet" href="../stylesheet/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav id="nav">
      <ul>
        <li>
          <a href="index.html">
            <img
              id="icon2"
              src="../sources/ccicon.ico"
              alt="icone da empresa 🤓"
            />
          </a>
        </li>
        <li><a href="servicos.html">Serviços</a></li>
        <li><a href="sobre.html">Sobre</a></li>
        <li><a href="contato.html">Contato</a></li>
        <li><a href="documentos.html">Documentos</a></li>
      </ul>
    </nav>
    <section class="page-container">
      <span class="page-title" class="anton-regular">
        <h1>
          Bem-vindo ao
          <span style="color: #36b6ff">Com</span>
          <span style="color: #0148af">Conquer</span>
          , seu destino definitivo para dominar as habilidades essenciais de
          informática!
        </h1>
      </span>
      <section class="course-container">
        <article class="course-plan">
          <p class="course-title">Módulo 1</p>
          <p class="course-title" id="course-desc">Vídeos 1 a 6</p>
          <a href="./modulos/modulo1.html" class="course-button">Assistir</a>
        </article>
        <article class="course-plan">
          <p class="course-title">Módulo 2</p>
          <p class="course-title" id="course-desc">Vídeos 7 a 10</p>
          <a href="./modulos/modulo2.html" class="course-button">Assistir</a>
        </article>
        <article class="course-plan">
          <p class="course-title">Módulo 3</p>
          <p class="course-title" id="course-desc">Vídeos 11 a 16</p>
          <a href="./modulos/modulo3.html" class="course-button">Assistir</a>
        </article>
      </section>
    </section>
    <footer class="footer">
      <p>&copy; 2024 ComConquer</p>
      <div class="contact-info">
        <a href="tel:+55123456789">Telefone: (12) 3456-7890</a>
        <a href="mailto:contato@seudominio.com"
          >Email: contato@comconquer.com</a
        >
        <a href="https://wa.me/55123456789">WhatsApp: (12) 3456-7890</a>
      </div>
    </footer>
  </body>
  <script src="../scripts/script.js"></script>
</html>
