<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ComConquer</title>
    <link rel="icon" href="../sources/ccicon.ico">
    <link rel="stylesheet" href="../stylesheet/style.css">
<body>
    <nav class="nav-bar">
        <ul class="nav-list">
            <li class="nav-item"><a href="index.html"><img id="icon2" src="../sources/ccicon.ico" alt="bosta seca"></a></li>
            <li class="nav-item"><a href="extras.html">Extras</a></li>
            <li class="nav-item"><a href="servicos.html">Serviços</a></li>           
            <li class="nav-item"><a href="sobre.html">Sobre</a></li>
            <li class="nav-item"><a href="contato.html">Contato</a></li>
        </ul>    
    </nav>
    <h1>ComConquer Apresenta: Empoderando a Geração Alpha com Tecnologia!</h1>
    <p>
        <b>Introdução Empolgante à Tecnologia:</b> Nossos cursos interativos são projetados para introduzir adolescentes à tecnologia de maneira dinâmica e envolvente. 
        Desde os conceitos básicos até as últimas tendências, garantimos que cada aluno esteja preparado para enfrentar os desafios digitais do século XXI. <br> <br>

        <b>Exploração Segura da Web:</b> Em um mundo cada vez mais conectado, é crucial que os adolescentes saibam como navegar na internet com segurança.
         Nossos cursos abordam não apenas os aspectos técnicos, mas também ensinam estratégias para lidar com questões como cyberbullying e proteção de dados pessoais. <br> <br>

        <b>Jogos Educativos de Última Geração: </b> Quem disse que aprender não pode ser divertido? Nossos jogos educativos não apenas entretêm, mas também desenvolvem
         habilidades essenciais, como pensamento crítico, solução de problemas e até mesmo noções básicas de programação. Tudo isso em um ambiente seguro e estimulante,
          projetado especialmente para a geração Alpha. <br> <br>
 
        <b>Preparando para o Futuro Digital:</b> Na ComConquer, estamos comprometidos em equipar os adolescentes com as habilidades necessárias para prosperar no mundo digital
         em constante evolução. Junte-se a nós e descubra um novo mundo de possibilidades tecnológicas!
    </p>
    <footer>
        <table>
            <tr>
                <td><img src="https://cdn-icons-png.flaticon.com/128/5968/5968841.png" alt="whatsapp icon" width="30px" height="30px"></a></td>
                <td>&nbsp;&nbsp;Whatsapp ❯ </td>
                <td>(XX)XXXXX-XXXX┃</td>
        
                <td><img src="https://cdn-icons-png.flaticon.com/128/2213/2213470.png" alt="gmail icon" width="30px" height="30px"></td>
                <td>&nbsp;&nbsp;Gmail ❯ </td>
                <td>contato@comconquer.com┃</td>
        
                <td><img src="https://cdn-icons-png.flaticon.com/128/107/107778.png" alt="telefone icon" width="30px" height="30px"></td>
                <td>&nbsp;&nbsp;Telefone ❯ </td>
                <td>(XX) XXXX-XXXX</td>
            </tr>

        </table>
    </footer>
</body>
</html>
