<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ComConquer</title>
    <link rel="icon" href="../sources/ccicon.ico" />
    <link rel="stylesheet" href="../stylesheet/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav id="nav">
      <ul>
        <li>
          <a href="index.html">
            <img
              id="icon2"
              src="../sources/ccicon.ico"
              alt="icone da empresa 🤓"
            />
          </a>
        </li>
        <li><a href="servicos.html">Serviços</a></li>
        <li><a href="sobre.html">Sobre</a></li>
        <li><a href="contato.html">Contato</a></li>
        <li><a href="documentos.html">Documentos</a></li>
      </ul>
    </nav>
    <section class="page-container">
      <article class="page-content">
        <h1>Apresentamos com entusiasmo o projeto do nosso site ComConquer</h1>
        <p>
          <b>Introdução Empolgante à Tecnologia:</b> Nossos cursos interativos
          são projetados para introduzir adolescentes à tecnologia de maneira
          dinâmica e envolvente. Desde os conceitos básicos até as últimas
          tendências, garantimos que cada aluno esteja preparado para enfrentar
          os desafios digitais do século XXI.
        </p>
        <p>
          <b>Exploração Segura da Web:</b> Em um mundo cada vez mais conectado,
          é crucial que os adolescentes saibam como navegar na internet com
          segurança. Nossos cursos abordam não apenas os aspectos técnicos, mas
          também ensinam estratégias para lidar com questões como cyberbullying
          e proteção de dados pessoais.
        </p>
        <p>
          <b>Jogos Educativos de Última Geração:</b> Quem disse que aprender não
          pode ser divertido? Nossos jogos educativos não apenas entretêm, mas
          também desenvolvem habilidades essenciais, como pensamento crítico,
          solução de problemas e até mesmo noções básicas de programação.
        </p>
        <p>
          <b>Jogos Educativos de Última Geração:</b> Quem disse que aprender não
          pode ser divertido? Nossos jogos educativos não apenas entretêm, mas
          também desenvolvem habilidades essenciais, como pensamento crítico,
          solução de problemas e até mesmo noções básicas de programação.
        </p>
        <p>
          <b>Preparando para o Futuro Digital:</b> Na ComConquer, estamos
          comprometidos em equipar os adolescentes com as habilidades
          necessárias para prosperar no mundo digital em constante evolução.
          Junte-se a nós e descubra um novo mundo de possibilidades
          tecnológicas!
        </p>
      </article>
    </section>
    <footer class="footer">
      <p>&copy; 2024 ComConquer</p>
      <div class="contact-info">
        <a href="tel:+55123456789">Telefone: (12) 3456-7890</a>
        <a href="mailto:contato@seudominio.com">Email: contato@comconquer.com</a>
        <a href="https://wa.me/55123456789">WhatsApp: (12) 3456-7890</a>
      </div>
    </footer>
  </body>
  <script src="../scripts/script.js"></script>
</html>
