<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ComConquer</title>
    <link rel="icon" href="../sources/ccicon.ico">
    <link rel="stylesheet" href="../stylesheet/style.css">
<body>
    <nav class="nav-bar">
        <ul class="nav-list">
            <li class="nav-item"><a href="index.html">Página Inicial</a></li>
            <li class="nav-item"><a href="servicos.html">Serviços</a></li>
            <li class="nav-item"><a href="sobre.html">Sobre</a></li>
            <li class="nav-item"><a href="contato.html">Contato</a></li>
        </ul>   
    </nav>
    <h1>A Conconquer Apresenta: Tecnologia para Todos – Aulas de Informática Básica para Crianças</h1>
    <p>
        <span>Introdução Divertida à Informática:</span> Cursos interativos que ensinam o básico da computação de maneira divertida e envolvente, adequados para crianças de todas as idades <br>
        <span>Segurança na Internet para Jovens:</span> Cursos que ensinam às crianças a importância da segurança online, como navegar na internet de forma segura e o que fazer em situações de cyberbullying. <br>
        <span>Jogos Educativos de Computador:</span> Aprendizado por meio de jogos que incentivam o raciocínio lógico, a solução de problemas e habilidades básicas de programação em um ambiente seguro e estimulante. <br>

    </p>
</body>
</html>