<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ComConquer</title>
    <link rel="icon" href="../sources/ccicon.ico">
    <link rel="stylesheet" href="../stylesheet/style.css">
<body>
    <nav class="nav-bar">
        <ul class="nav-list">
            <li class="nav-item"><a href="index.html"><img id="icon2" src="../sources/ccicon.ico" alt="bosta seca"></a></li>
            <li class="nav-item"><a href="index.html">Extras</a></li>
            <li class="nav-item"><a href="servicos.html">Serviços</a></li>           
            <li class="nav-item"><a href="sobre.html">Sobre</a></li>
            <li class="nav-item"><a href="contato.html">Contato</a></li>
        </ul>    
    </nav>
    <section>
        <h1>ComConquer<img id="iconcompany" src="../sources/ccicon.ico" alt="LOGO COMCONQUER DUAS LETRAS C DE COR AZUL UMA DENTRO DA OUTRA"></h1>
        <h2>Quem somos ?</h1>
        <p>
            A Comconquer é uma empresa inovadora no campo da tecnologia, dedicada a democratizar o acesso ao conhecimento técnico
            e à educação em informática. Com uma plataforma intuitiva e de fácil navegação, oferecemos videoaulas abrangentes sobre informática básica,
            desenhadas para equipar nossos usuários com as habilidades essenciais necessárias para navegar no mundo digital de hoje.
        </p>
    </section>
    <section>
    <h2>Nossa Missão</h2>
        <p>
            Na Comconquer, temos um propósito claro: tornar a educação tecnológica acessível e envolvente para todos, especialmente para crianças
            que não tiveram oportunidade de explorar o mundo digital. Acreditamos que o conhecimento tecnológico é uma ferramenta poderosa de empoderamento e inclusão,
            capaz de abrir portas para o futuro e equipar a próxima geração com as habilidades necessárias para prosperar em um mundo cada vez mais digital.
        </p>
    </section>

    <table>
        <tr>
            <td><img src="https://avatars.githubusercontent.com/u/136730703?v=4" alt="svnetoico"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>
</html>