<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ComConquer</title>
    <link rel="icon" href="../sources/ccicon.ico" />
    <link rel="stylesheet" href="../stylesheet/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav id="nav">
      <ul>
        <li>
          <a href="index.html">
            <img
              id="icon2"
              src="../sources/ccicon.ico"
              alt="icone da empresa 🤓"
            />
          </a>
        </li>
        <li><a href="extras.html">Extras</a></li>
        <li><a href="servicos.html">Serviços</a></li>
        <li><a href="sobre.html">Sobre</a></li>
        <li><a href="contato.html">Contato</a></li>
      </ul>
    </nav>
    <section class="page-container">
      <!-- AINDA VOU REFAZER ESTOU COLOCANDO TODAS AS PAGINAS NOS PADRÕES -->
      <article class="teste">
        <h1>ComConquer</h1>
        <h2>Quem somos ?</h2>
        <p>
          A Comconquer é uma empresa inovadora no campo da tecnologia, dedicada
          a democratizar o acesso ao conhecimento técnico e à educação em
          informática. Com uma plataforma intuitiva e de fácil navegação,
          oferecemos videoaulas abrangentes sobre informática básica, desenhadas
          para equipar nossos usuários com as habilidades essenciais necessárias
          para navegar no mundo digital de hoje.
        </p>
      </article>
      <article class="teste">
        <h2>Nossa Missão</h2>
        <p>
          Na Comconquer, temos um propósito claro: tornar a educação tecnológica
          acessível e envolvente para todos, especialmente para crianças que não
          tiveram oportunidade de explorar o mundo digital. Acreditamos que o
          conhecimento tecnológico é uma ferramenta poderosa de empoderamento e
          inclusão, capaz de abrir portas para o futuro e equipar a próxima
          geração com as habilidades necessárias para prosperar em um mundo cada
          vez mais digital.
        </p>
      </article>
    </section>
    <footer>
      <table>
        <tr>
          <td>
            <img
              src="https://cdn-icons-png.flaticon.com/128/5968/5968841.png"
              alt="whatsapp icon"
              width="30px"
              height="30px"
            />
          </td>
          <td>&nbsp;&nbsp;Whatsapp ❯</td>
          <td>(XX)XXXXX-XXXX┃</td>

          <td>
            <img
              src="https://cdn-icons-png.flaticon.com/128/2213/2213470.png"
              alt="gmail icon"
              width="30px"
              height="30px"
            />
          </td>
          <td>&nbsp;&nbsp;Gmail ❯</td>
          <td>contato@comconquer.com┃</td>

          <td>
            <img
              src="https://cdn-icons-png.flaticon.com/128/107/107778.png"
              alt="telefone icon"
              width="30px"
              height="30px"
            />
          </td>
          <td>&nbsp;&nbsp;Telefone ❯</td>
          <td>(XX) XXXX-XXXX</td>
        </tr>
      </table>
    </footer>
  </body>
</html>
